<h1>Create A New Figure</h1>

<form method="POST" action="/figures">
  <label>Name:</label>
  <input type="text" name="figure[name]" id="figure_name">
  <br></br>

  <label>Titles:</label>
  <br></br>  
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %></input>
    <% end %>
  <br></br>
  <label>Create a New Title:</label>
  <br></br>
  <label>Name:</label>
    <input type="text" name="title[name]" id="new_title">
  <br></br>

  <br></br>
  <label>Landmarks:</label>
  <br></br>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%= landmark.name %></input>
    <% end %>
  <br></br>
  <label>Create a New Landmark:</label>
  <br></br>
  <label>Name: </label>
    <input type="text" name="landmark[name]" id="new_landmark">
  <br></br>
  <label>Year Completed: </label>
    <input type="integer" name="landmark[year_completed]">  
  <br></br>
  <button type="submit" value="Create New Figure">Create New Figure</button>
</form>